@charset= "utf-8";
/*fonte do titulo, baixado no goolge fonts*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

p {   /* para configurar todo o texto p*/
	text-align: justify;
	text-indent: 50px;
}
body{
	background-color: #dddddd;
}

div#interface{  /*o auto serve para calcular automaticamente as distancias que restam da div para o body*/
	width: 1000px;
	background-color: white;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 15pc rgba(0,0,0,0.5);
	padding: 10px;
}

img#icone{
	position: absolute;
	top: 110px;
	left: 900px;
}

figure.foto-legenda{             /*colocar sombreamento e borda*/
	border: 8px solid red;
	box-shadow: 1px 1px 7px black;
	position: relative;
}

figure.foto-legenda img{         /*regular o tamanho da foto */
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;               /*afastar a borda */
	opacity: 0;
	transition: opacity 2s;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

nav#menu{
	display: block; /*um bloco pode flutuar pela tela*/

}

nav#menu h1{
	display: none;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase; /*para deixar maiusculo*/
	position: absolute;  /*para subir com o menu*/
	top: -20px;
	left: 500px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 0.6s;
}

nav#menu li:hover{
	background-color: #606060;
}

nav#menu a{
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover{
	color: #ffffff;
}

header#cabecalho{  /*para mexer na imagem glass*/
	border-bottom: 1px #606060 solid;
	height: 170px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px; /*para mexer na imagem glass e ele so anda para direita e para baixo*/	
}

header#cabecalho h1{ /*mexer no cabeçalho nome:google glass*/
	font-family: Arial, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	margin-top: 40px;
	margin-bottom: 10px;
}
header#cabecalho h2{
	font-family: Titillium Web, sans-serif;
	font-size: 15pt;
	color: #888888;
	margin-bottom: 0px;
	margin-top: 0px;
}
section#corpo{
	display: block;
	width: 600px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}
aside#lateral{
	display: block;
	width: 370px;
	float: right;
}
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
	text-align: center;
}